.faq-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: none;
}

.faq-item button {
    background-color: var(--background-white-color);
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: left;
    gap: 0.75rem;
}

.faq-item span {
    color: var(--title-h1-color);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: 1.5rem;
    max-width: 700px;
    width: 100%;
}

.text-gray-600 {
    color: #A4A7AE;
    border: 2px solid #A4A7AE;
    border-radius: 50%;
    width: 24px;
    height: 24px;
}

.faq-content {
   padding: 0px 20px;
}

.faq-answer {
    text-align: left;
    color: var(--text-subtitle-color);
    font-size: 1rem;
    line-height: 150%;
    font-family: 'Inter', sans-serif;
    max-width: 700px;
    width: 100%;
    
}

@media screen and (max-width: 768px) {
    
    .faq-item span {
        text-align: left;
    }

}

@media screen and (max-width: 500px) {
    
    .faq-content {
        padding: 10px;
    }

    .faq-item span {
        font-size: 1rem;
    }
    

}