:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--title-h1-color);
  background-color: var(--background-white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #E71D36;
  --color-secondary: #FFA500;
  --title-h1-color: #011627;
  --button-text-color: #011627;
  --text-subtitle-color: #546A76;
  --background-white-color: #FFFFFF;
  --text-light-color-1: #FFFFFF;
  --border-color: #E4E7EC;
  --hero-background-color: #FDFFFC;
}

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}